build/
thirdparty/*
# Tracked submodule: forked musl carrying the Alcor userland ABI
!thirdparty/musl-src
*.o
*.d
*.elf
*.iso
*.img
user/apps/**/.cache/
mnt
.vscode
# Doxygen generated output
docs/doxygen/
